In [96]:
from collections import Counter

In [24]:
import pandas as pd
pd.set_option('max_columns', 50)

In [2]:
import housing_data.building_permits_survey as bps

In [94]:
from importlib import reload
reload(bps)

In [95]:
data = bps.load_data(
    scale="state", time_scale="annual", year=2000, month=None, region=None
)

Dowloading data from https://www2.census.gov/econ/bps/State/st2000a.txt

In [97]:
Counter(data.columns)

Counter({'survey_date': 1,
         'fips_state': 1,
         'region_code': 1,
         'division_code': 1,
         'state_name': 1,
         'bldgs': 1,
         '1_unit_units': 1,
         '1_unit_value': 1,
         '1_unit_bldgs': 1,
         '2_units_units': 1,
         '2_units_value': 1,
         '2_units_bldgs': 1,
         '3_to_4_units_units': 1,
         '3_to_4_units_value': 1,
         '3_to_4_units_bldgs': 1,
         '5_plus_units_units': 1,
         '5_plus_units_value': 1,
         '5_plus_units_bldgs': 1,
         '1_unit_units_reported': 1,
         '1_unit_value_reported': 1,
         '1_unit_bldgs_reported': 1,
         '2_units_units_reported': 1,
         '2_units_value_reported': 1,
         '2_units_bldgs_reported': 1,
         '3_to_4_units_units_reported': 1,
         '3_to_4_units_value_reported': 1,
         '3_to_4_units_bldgs_reported': 1,
         '5_plus_units_units_reported': 1,
         '5_plus_units_value_reported': 1})

In [98]:
data

,survey_date,fips_state,region_code,division_code,state_name,bldgs,1_unit_units,1_unit_value,1_unit_bldgs,2_units_units,2_units_value,2_units_bldgs,3_to_4_units_units,3_to_4_units_value,3_to_4_units_bldgs,5_plus_units_units,5_plus_units_value,5_plus_units_bldgs,1_unit_units_reported,1_unit_value_reported,1_unit_bldgs_reported,2_units_units_reported,2_units_value_reported,2_units_bldgs_reported,3_to_4_units_units_reported,3_to_4_units_value_reported,3_to_4_units_bldgs_reported,5_plus_units_units_reported,5_plus_units_value_reported
0,200099,01,3,6,Alabama,13672,13672,1499106,94,188,10165,58,214,11796,206,3332,196965,13136,13136,1452162,94,188,10165,44,158,8880,204,3289,194994
1,200099,02,4,9,Alaska,1607,1607,273589,129,258,33552,13,47,5260,25,235,20174,1459,1459,251743,120,240,31805,13,47,5260,25,235,20174
2,200099,04,4,8,Arizona,48844,48844,6357265,214,428,34213,260,957,82493,970,11256,683617,48466,48466,6316690,206,412,33646,249,923,80623,958,11196,681560
3,200099,05,3,7,Arkansas,6927,6927,768450,160,320,17631,147,573,20692,115,1383,51842,6285,6285,721787,153,306,17311,143,558,20263,107,1328,50214
4,200099,06,4,9,California,105018,105018,19996526,620,1240,137085,863,3001,284740,1925,36316,2925614,102999,102999,19670161,591,1182,131888,841,2928,280079,1877,35906,2894309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,200099,D5,3,5,South Atlantic Division,331513,331513,40220084,2211,4422,289874,1652,6268,449574,6125,104019,6513114,320627,320627,39023715,2146,4292,283661,1610,6134,442906,5907,102134,6405069
62,200099,D6,3,6,East South Central Divisi,60561,60561,6840139,666,1332,66984,347,1296,65512,1335,16150,807973,56270,56270,6471096,581,1162,60436,282,1068,56524,1219,15202,778372
63,200099,D7,3,7,West South Central Divisi,137626,137626,17126293,1134,2268,125679,956,3657,158110,2191,32751,1623938,130005,130005,16359852,979,1958,109793,852,3293,143384,2073,31821,1583530
64,200099,D8,4,8,Mountain Division,148727,148727,19709792,1091,2182,206845,967,3575,280494,2759,35453,2212501,145221,145221,19328022,1042,2084,200144,926,3442,271528,2701,34904,2177432
65,200099,D9,4,9,Pacific Division,151970,151970,26764374,1563,3126,309444,1415,5046,478032,2792,51383,3907471,146208,146208,26010536,1415,2830,286271,1362,4872,466224,2656,50145,3834909

In [74]:
data

,survey_date,fips_state,region_code,division_code,state_name,bldgs,1_unit_units,1_unit_value,1_unit_bldgs,2_units_units,2_units_value,2_units_bldgs,3_to_4_units_units,3_to_4_units_value,3_to_4_units_bldgs,5_plus_units_units,5_plus_units_value,5_plus_units_bldgs,1_unit_units_reported,1_unit_value,1_unit_bldgs,2_units_units_reported,2_units_value,2_units_bldgs,2_units_units,2_units_value,2_units_bldgs,5_plus_units_units_reported,5_plus_units_value
0,200099,01,3,6,Alabama,13672,13672,1499106,94,188,10165,58,214,11796,206,3332,196965,13136,13136,1452162,94,188,10165,44,158,8880,204,3289,194994
1,200099,02,4,9,Alaska,1607,1607,273589,129,258,33552,13,47,5260,25,235,20174,1459,1459,251743,120,240,31805,13,47,5260,25,235,20174
2,200099,04,4,8,Arizona,48844,48844,6357265,214,428,34213,260,957,82493,970,11256,683617,48466,48466,6316690,206,412,33646,249,923,80623,958,11196,681560
3,200099,05,3,7,Arkansas,6927,6927,768450,160,320,17631,147,573,20692,115,1383,51842,6285,6285,721787,153,306,17311,143,558,20263,107,1328,50214
4,200099,06,4,9,California,105018,105018,19996526,620,1240,137085,863,3001,284740,1925,36316,2925614,102999,102999,19670161,591,1182,131888,841,2928,280079,1877,35906,2894309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,200099,D5,3,5,South Atlantic Division,331513,331513,40220084,2211,4422,289874,1652,6268,449574,6125,104019,6513114,320627,320627,39023715,2146,4292,283661,1610,6134,442906,5907,102134,6405069
62,200099,D6,3,6,East South Central Divisi,60561,60561,6840139,666,1332,66984,347,1296,65512,1335,16150,807973,56270,56270,6471096,581,1162,60436,282,1068,56524,1219,15202,778372
63,200099,D7,3,7,West South Central Divisi,137626,137626,17126293,1134,2268,125679,956,3657,158110,2191,32751,1623938,130005,130005,16359852,979,1958,109793,852,3293,143384,2073,31821,1583530
64,200099,D8,4,8,Mountain Division,148727,148727,19709792,1091,2182,206845,967,3575,280494,2759,35453,2212501,145221,145221,19328022,1042,2084,200144,926,3442,271528,2701,34904,2177432
65,200099,D9,4,9,Pacific Division,151970,151970,26764374,1563,3126,309444,1415,5046,478032,2792,51383,3907471,146208,146208,26010536,1415,2830,286271,1362,4872,466224,2656,50145,3834909